.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #4BCA81;
  border-left: 5px solid #4BCA81;
  width: 20px;
  height: 20px;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  table {
    overflow: hidden;
    width: 100%;
  }

  .gcm_text_left {
    text-align: left;
  }

  .gcm_text_right {
    text-align: right;
  }