.THIS .disabledLink {
    pointer-events: none;
    cursor: default;
}

.THIS .disabledLink:hover {
    border: none;
}

.THIS .filtersSelect {
    margin-left: 2rem;
    width: 20rem;
}

.THIS h1.bidsInBy {
    margin-top: 2rem;
}

.THIS .searchLocationInput {
    text-align: center;
    width: 20rem;
    margin-left: 2rem;
}

.THIS .hide {
	display: none;
}