.THIS {
}

.THIS.hidden {
    display: none;
}

.THIS .middle-container {
    pointer-events: all;
   -moz-transition: width 200ms ease-in, opacity 200ms ease-in;
    -webkit-transition: width 200ms ease-in, opacity 200ms ease-in;
    -o-transition: width 200ms ease-in, opacity 200ms ease-in;
    transition: width 200ms ease-in, opacity 200ms ease-in;
}

.THIS .summary-container {
    overflow: visible;
    margin-top: -10px;
}

.THIS .scorecard-container {
    margin-top: -10px;
}

.THIS .tab-container {
    border-radius: 0.5em !important;
    overflow-x: hidden;
}

.THIS .slds-tabs_default__item {
    margin-left: 0.8em !important;
    padding-bottom: 0.4em;
}

.THIS .slds-tabs_default__link {
    margin-top: -0.4em !important;
}

.THIS .slds-tabs_default__overflow-button {
    line-height: unset;
    margin-top: .05em !important;
}

.THIS .icon-toggle {
    padding-top: 0.85em;
    margin-left: -0.15em;
}

.THIS .panel-open {
    opacity: 1;
}

.THIS .panel-close {
    opacity: 0;
    width: 0em !important;
    height: 0em !important;
}

.THIS .toggle-container {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}

.THIS .panel-slide {
    -moz-transition: width 200ms ease-in, opacity 200ms ease-in;
    -webkit-transition: width 200ms ease-in, opacity 200ms ease-in;
    -o-transition: width 200ms ease-in, opacity 200ms ease-in;
    transition: width 200ms ease-in, opacity 200ms ease-in;
    min-width: 0rem !important;
    overflow: hidden;
}

.THIS .toggle-slide {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);

    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 20px;
    height: 48px;
    z-index: 55;
}