.THIS.paddingLeft
{
    padding-top: 15px;
    padding-left: 340px;
}
.THIS.buttonBackground
{
    background-color: green;
}

/*.THIS.xyz
{
  min-height: 400px;
  padding: 10px;
  border: 2px solid gray;
  margin: 0;
}
.THIS.jjj
{
   width : 5px;
  padding: 10px;
  height : 10px;     
  border: 2px solid gray;
  margin: 0;
}*/