.THIS .slds-accordion__summary-action {
    background-color: rgb(243, 242, 242);
    width:832.656px;
    height:32px;
}

.THIS .slds-accordion__section {
    padding-top: 0px !important;
}


.THIS .headpadding{
    padding-top: 0px ;
    padding: 0rem;
}